@tailwind base;
@tailwind components;
@tailwind utilities;

.darkCard {
    background: #161616;
    color: #fff;
border: 2px solid rgb(63, 63, 63);
}
.lightCard {
    background: #F3F3F4;
    color: black;
    /* border: 2px solid black; */
}

.gray {
    background: #262525;
    /* color: #000; */
}
.video-custom {
    height: 470px !important;
    width: 100% !important;
  }
  
.bgDark {
    background: #161616;
    
}
.bgLight {
    background: #c6c3bc;
    color: #000;
}

/* *{
    border: 2px solid red;
} */
 

