@tailwind base;
@tailwind components;
@tailwind utilities;

.darkCard {
    background: #161616;
    color: #fff;
border: 2px solid rgb(63, 63, 63);
}
.lightCard {
    background: #F3F3F4;
    color: black;
    /* border: 2px solid black; */
}

.gray {
    background: #262525;
    /* color: #000; */
}
.video-custom {
    height: 470px !important;
    width: 100% !important;
  }
  
.bgDark {
    background: #161616;
    
}
.bgLight {
    background: #c6c3bc;
    color: #000;
}

/* *{
    border: 2px solid red;
} */
 

@media (max-width: 768px) {
  .custom-toast  {
    width: 75vw !important;
    min-height: 40px !important;
        margin-top: 15vw;

  }
}

@media (min-width: 769px) {
  .custom-toast {
    width: 400px !important;
    min-height: 40px !important;
    margin-top: 40px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Hide scrollbar for IE, Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}